:root {
    /* 
    variables are accessible only by children of the element where they are
    defined. 
    :root is the HTML element. EX: <body> is a child of <html> 
    lastly, the closest parent defines the variable to when it is called.
    :root is top-level. if --text-dark: #000; is :root, and <p> has color: var(--text-dark); but the <div> 
    <p> is inside of has it re-defined as --text-dark: #111; then <p> would use --text-dark: #111; as it 
    is the closest parent w/ variable definition.
    */
    --text-dark: #000;
    --text-light: #fbf2f2;
    --text-muted: #595959;

    --background-color: #fff;
    --accent-color: #76d3d0;
    --accent-color-2: #3bb54a;
    --tag-color: #e5e5e5;

    --border: 3px solid #000;
    /* Usage is border: var(--border); */
}

.button {
    --background-color: #e2e8f0;
    --background-color-hover: #bdd1eb;
}

.form__field {
    --background-color: #e8e5e5; 
}

.form__field,
.nav__link {
    --border: 3px solid #76d3d0;
}

html {
    /* Sets global font size on small devices */
    font-size: 12px;
}

/* When the screen width hits 960px, we increase the global font size to 14px. This 
    changes the scale of all of our relative units (the rems), keeping everything proportional. */
@media screen and (min-width: 60em) {
    html {
        font-size: 14px;
    }
}

/* When the screen width hits 1200px, we once again increase the global font size, 18px now. */
@media screen and (min-width: 75em) {
    html {
        font-size: 18px;
    }
}

body {
    /* Sets the shared font characteristics, so that they can be inherited globally */
    font-family: "Public Sans", sans-serif;
    color: var(--text-dark);
    line-height: 1.45;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    padding: 0 2rem;
    border-bottom: var(--border);
}

.header__logo {
    display: flex;
    align-items: center;
    height: 4rem;
    color: inherit;
    text-decoration: none;
}

.header__logo:hover {
    color: var(--accent-color);
}

.logo__icon {
    width: 2.5rem;
    height: 2.5rem;
}

img:hover {
    color: var(--accent-color);
}

.logo__name {
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
}

.nav {
    display: flex;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    text-decoration: none;
    color: inherit;
}

.nav__link:not(:last-child) {
    margin-right: 1rem;
}

.nav__link:hover {
    margin-bottom: -3px;
    border-bottom: var(--border);
}

.nav__item {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav__icon {
    width: 1em;
    height: 1em;
}

.nav__link--active {
    background-color: var(--accent-color);
    color: var(--text-light);
}

.footer {
    padding: 1rem 0;
    color: var(--text-light);
    text-align: center;
    background-color: #76d3d0;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
    margin-top: 5.5rem;
    gap: 1rem;
}

.account__home--group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account__home--links {
    margin-top: 5.5rem;
    display: flex;

}
.account__options {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.account__link {
    list-style: none;
    text-decoration: none;
}

.form__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: inherit;
    gap: 1.5rem;
    width: 200px;
}

.form__unit {
    margin-top: 1.5rem;
}

.button {
    margin-top: 1.5rem;
}

.note {
    margin-top: 10rem;
}

.account__add-remove {
    display: flex;
    min-width: 800px;
    gap: 3rem;
    margin-top: 3rem;
    justify-content: space-evenly;
}


.current__accounts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.center {
    text-align: center;
}


.account__cards {
    align-self: flex-start;
}
/* Button styles that we'll shared across our site. */
.button {
    /* In order to easily position our buttons, we're making them block level elements */
    display: block;

    /* Removes any outlines added when the button is in focus */
    outline: none;

    /* Setting the cursor to pointer indicates to a user that the button is clickable */
    cursor: pointer;

    /* Again, with buttons we have to be explicit about inheriting font properties */
    font-size: inherit;
    font-family: inherit;

    /* Slows the background color change effect when we hover over the button, making
        it take 0.1s with an accelerating color change */
        transition: background 0.1s ease-in;
}

/* Utility class to use on links within text */
.link {
    text-decoration: none;
    color: var(--accent-color);
    white-space: nowrap;
}

.link:hover {
    text-decoration: underline;
}